   body{
    background-color: #ffffff;
    background-size: cover;
}
.cont img{
    width: 100%;
    height: 500px;
}

.content h1{
    float: center;
    color: #333;
    font-size: 30px;
    text-decoration-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.content h2{
    border-style:solid;
    width: 120px;
    border-width: 1px;
    border-color: #333;
    position: absolute;
    bottom: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #333;
}
.content hr{
    float: center;
    text-decoration: white;
    
}
.gradual{
    overflow: hidden;
   background-color: #333;
   border-width: 0;
   width: 100%;
   bottom: 0px;

}
.gradual a {
 float: left;
 display: block;
 color: #f2f2f2;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;

}

.gradual ul {
 float: right;
}

.gradual ul li {
 display: inline;
 padding-right: 20px;
}


 .gradual a:hover {
 color: green;
}

.grid {
    width: 100%;
    column-count: 3;
    padding: 30px;
    padding-right: 20px;
    background-color: #ffffff;
}
.values{
    padding-left: 90px;
    width: 65.33%;
}

.goals{
   /* padding-right: 15px;
    padding-right: 15px;*/
    width: 65.33%;


}

.hobbies{
    padding-right: 40px;
    width: 65.33%;
}

.abc {
    float:right;
    background: silver;
    width:62.3%;
    height:620.91px;

}

.aboutme{
    padding-right: 120px;
}


.about{
    float:left;
    width: 50%;
}
.design:after{
    content: "";
    display: table;
    clear: both;
    width: 10px;
    height: 0px;
}

.about{
    background-color: silver;
}


               
/*.image img{
    float:left;
    width: 508px;
    height: 620.91px;
}*/

.skil{
    background-color: white;
    height: 330px;
    width:100%;
    display: table;

}

.skills{
    float: left;
    width: 40%;
    padding: 10px;
    padding-left: 90px;

}


.skills h3{
    border: 3px solid green;
    width: 180px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: green;

}

.photo {
    width: 500px;
    height: 30px;
    background-color: silver;
}

.a_photo{
    width: 90%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: green;
}

.illust {
    width: 500px;
    height: 30px;
    background-color: silver;
}

.a_illust{
    width: 80%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: green;

}

.code {
    width: 500px;
    height: 30px;
    background-color: silver;
}

.a_code{
    width: 90%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: green;

}

.sql {
    width: 500px;
    height: 30px;
    background-color: silver;
}

.a_sql{
    width: 70%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: green;

}

.resume{
    width: 45%;
    height: 300px;
    text-align: center;
    padding-left: 25%;
    padding-right: 35%;
    padding-top: 20px;
    background-color: silver;

}


.resume h3{
    border: 3px solid green;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: green;
    margin: 0 auto;

}

.page{
    background-color: white;
    height: 400px;
    width:100%;
    display: table;
    padding-top: 60px;

}

.educate{
    float: left;
    width: 40%;
    padding: 10px;
    padding-left: 80px;
}

.diploma{
    width: 40%;
    float: right;
    padding-right: 120px;

}
.diploma: dip1{
    padding-top: 20px;
}

.diploma h5{
    border: 3px solid green;
    width: 80px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: green;
 }

.expe{
    background-color: white;
    height: 45%;
    width:100%;
    display: table;
    padding-top: 20px;
}
.work{
    float: left;
    width: 40%;
    padding: 10px;
    padding-left: 80px;
}

.designer{
    width: 40%;
    float: right;
    padding-right: 120px;

}

.designer h6{
    font-size: 15px;
}

.designer h5{
    border: 3px solid green;
    width: 80px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: green;
 }

 .resume{
    width: 45%;
    height: 300px;
    text-align: center;
    padding-left: 25%;
    padding-right: 35%;
    padding-top: 40px;
    background-color: silver;

}




.cont{
    background-color: #fff;
    overflow: auto;
    padding:20px;
    width: 1000px;
    margin: 0 auto;



}

.panel{
    height: 100px;
    text-align: center;
    color: #fff;
    line-height: 5em;
    float: left;

    
}
.one{
    background-color: red;
    width: 500px;
    border: 20px;
    float: left;

}
.two{
    background-color: green;
    width:500px;
    float: right;

}
.three{
    background-color: black;
    width: 250px;

}
.four{
    background-color: orange;
    width: 250px;
}
.five{
    background-color: grey;
    width: 250px;

}
.six{
    background-color: yellow;
    width: 250px;

}
.seven{
    background-color: brown;
    width:33.33%;
}
.eight{
    background-color: pink;
    width: 33.33%;
}
.nine{
    background-color: blue;
    width: 1000px;
}
.ten{
    background-color: grey;
    width: 33.33%
}




